* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
  color: white;
}

main{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(35, 35, 35), black);
  padding: 25px;
}

section{
  height: 100%;
  width: 360px;
  background-color: black;
  margin: auto;
}

.all-reels{
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
  display: none;
}

.reel{
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  scroll-snap-align: start; 
  scroll-snap-stop: always;  /* chahe jitna dm se kheech do rukega next reel pe hi */ 
}

.reel video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.reel .bottom{
  width: 100%;
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.115), rgba(0, 0, 0, 0.892));
  position: absolute;
  bottom: 0;
}

.bottom .user{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bottom .user h4{
  font-weight: 600;
  font-size: 15.5px;
  margin-bottom: 3px;
}

.bottom .user h5{
  font-weight: 200;
  font-size: 11px;
  color: #ffffffc2;
}

.bottom .user button{
  background-color: #D9D9D9;
  color: #111111e5;
  padding: 7px 12px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
}

.bottom .user img{
  height: 31px;
  width: 31px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom>h3{
  font-weight: 500;
  font-size: 20px;
}

.right{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  width: 40px;
  position: absolute;
  right: 0%;
  bottom: 18%;
  align-items: center;
}

.right i{
  font-size: 25px;
  font-weight: 500;
}

.right h6{
  font-size: 15px;
  font-weight: 500;
}

.right>div{
  display: flex;
  width: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.right h4{
  cursor: pointer;
}



/* div ke andar ke dono element ko pointer events none de diya ab agar uspe point krenga toh pura div point hoga andar ki cheeze nhi */

.right>div h4{
  pointer-events: none;
}

.right>div h6{
  pointer-events: none;
}

.love{
  color: red;
}


.mute{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 45px;
  width: 45px;
  background-color: #232222bc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mute i{
  color: white;
  font-size: 30px;
  pointer-events: none;
}

.mute i:active{
  scale: 0.95;
}