* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
  color: white;
}


/* #outer{
  height: 400px;
  width: 400px;
  background-color: lightseagreen;
}

#inner1{
  height: 200px;
  width: 200px;
  background-color: crimson;
  border-radius: 50%;
}

#inner2{
  height: 200px;
  width: 200px;
  background-color: royalblue;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */



body{
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.only{
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #333;

  border-radius: 15px;
  padding: 20px;

  margin-bottom: 20px;
}

button{
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  transition: all 0.2s ease;
}