* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}



/* main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1{
    color: white;
}

button{
    padding: 10px 20px;
    background-color: crimson;
    font-size: 16px;
    color: white;
    border: none;
} */





main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}


.card .top{
    width: 100%;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(197, 196, 196);
}

.card .top .inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}

.card .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


.card .bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;

    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.bottom h2{
    font-size: 60px;
}

.card p{
    text-align: center;
    margin-bottom: 20px;
}

.card p span{
    font-weight: 600;
    color: royalblue;
}

.bottom button:active{
    scale: 0.95;
}