* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}

/* body{
    background-color: #3f3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



#box{
    background-color: rgb(20, 0, 50);
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid white;
}

button{
    padding: 15px 30px;
    background-color: crimson;
    cursor: pointer;
}

button:active{
    background-color: rgb(161, 68, 86);
    scale: 0.9;
} */






main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #15468f;
    gap: 20px;
    color: white;
}


#box{
    height: 350px;
    width: 520px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

#top{
    font-size: 22px;
    width: 100%;
    height: 50%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top h2{
    font-size: 30px;
}

/* #top h1{
    font-weight: bold;

    background-image: url('https://i.pinimg.com/736x/54/96/c3/5496c328d02c848b352190a0eee94dc1.jpg');
    background-size: cover;
    background-position: center;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#top h2{
    font-size: 25px;
    font-weight: bold;

    background-image: url('https://i.pinimg.com/736x/54/96/c3/5496c328d02c848b352190a0eee94dc1.jpg');
    background-size: cover;
    background-position: center;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
} */

#down{
    font-size: 16px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
}

button{
    padding: 15px 45px;
    color: white;
    background-color: crimson;
    transition: all linear 0.1s;
}

button:active{
    scale: 0.9;
}